<div class="row">
    <div class="col-md-1 section" id="Categories">
        <ul id="CategoryList"></ul>
        <h1 id="CategoryPointer">&lsaquo;</h1>
    </div>
    <div class="col-md-2 section" id="Songs">
        <ul id="SongList"></ul>
    </div>
    <div class="col-md-6 section" id="Playing">
        <img src="../../../Content/Images/electronic.jpg" id="Image" />
        <audio controls id="NowPlaying">
            <source src="" type="audio/mp3" />
        </audio>
    </div>
    <div class="col-md-3 section" id="About">
        <h2 id="AboutTitle">About</h2>
        <hr class="custom-line"/>
        <p id="AboutContent">
            All of the music you hear is hand made on a Roland Fantom X8, a keyboard more commonly called a "Workstation" 
            since it has internal mixing and mastering software.
            <img src="../../../Content/Images/fantomx.png" id="Fantom" />
            Every percussive beat, every melody, every background synth was all played by hand, recorded and mixed by Mike Root.
            <br/><br/>
            After initial production of songs was finished, each song was uploaded into ProTools and professionally mastered in 
            <a href="www.jupiterstudios.net">Jupiter Studios</a>, St Louis, MO.
            <img src="../../../Content/Images/jupiter.jpg" id="Jupiter" />
            Some of Mike Root's music is available on iTunes, but feel free to download any songs from this site for free
        </p>
    </div>
</div>